@font-face {
  font-family: InterTight;
  src: url(assets/font/InterTight-VariableFont_wght.ttf);
}

/* Сброс стилей */

body {
  font-family: InterTight;
  margin: 0;
  overflow: hidden;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
}

p {
  margin: 0;
  line-height: 160%;
}

button {
  font-family: InterTight;
  font-size: 16px;
  background-color: transparent;
}

/* Сами стили */

header {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav {
  width: 50%;
}

.nav {
  max-width: 640px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  height: 100vh;
}

.main-page-block {
  display: flex;
  flex-direction: row;
}

.left-main {
  width: 50%;
}

.main-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
  gap: 60px;
  padding-bottom: 80px;
}

.right-main-content {
  padding: 0 60px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  border: solid 1px;
  border-radius: 20px;
  padding: 10px 20px;
}

.main-button {
  width: 100%;
}